@model OrderSearchInput
@{
    ViewBag.Title = "Quản lý đơn hàng";
}

<div class="box box-primary">
    <div class="box-body">
        <!--Form đầu vào tìm kiếm-->
        <form id="searchInput" action="~/Order/Search" method="get">
            <input type="hidden" name="@nameof(Model.PageSize)" value="@Model.PageSize" />
            <div class="row container-fluid">
                <div class="col-sm-2">
                    @Html.DropDownListFor(m => m.Status, SelectListHeper.Status(), new { @class = "form-control" })
                </div>
                <div class="col-sm-2">
                    <input type="text" class="form-control daterange-picker" placeholder=""
                           name="@nameof(Model.DateRange)" value="@Model.DateRange" />
                </div>
                <div class="col-sm-8 input-group">
                    <input type="text" name="@nameof(Model.SearchValue)" value="@Model.SearchValue"
                           class="form-control"
                           placeholder="Tìm kiếm theo tên khách hàng hoặc tên người giao hàng">
                    <span class="input-group-btn">
                        <button type="submit" id="search-btn" class="btn btn-flat btn-info">
                            <i class="fa fa-search"></i> Tìm kiếm
                        </button>
                    </span>
                </div>
            </div>
        </form>

        <!-- Kết quả tìm kiếm -->
        <div id="searchOutput">
        </div
    </div>
</div>

@section scripts {
    <script>
        //Gửi yêu cầu từ form searchInput đến Search để lấy dữ liệu của trang page
        function paginationSearch(page) {

            var condition = $("#searchInput").serializeArray();
            condition.push({ name: "page", value: page });

            var action = $("#searchInput").prop("action");
            var method = $("#searchInput").prop("method");

            $.ajax({
                url: action,
                type: method,
                data: condition,
                success: function (data) {
                    $("#searchOutput").html(data);
                }
            });
        }

        $(document).ready(function () {
            paginationSearch(@Model.Page);
            $("#searchInput").submit(function (e) {
                e.preventDefault();
                paginationSearch(1);
            })
        })

    </script>
}